/* Login.css */
.login-container {
  background-color: #f9fafb;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
}

.login-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #333333;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 1rem;
  position: relative;
}

.input-label {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.5rem;
  display: block;
}

.input-field {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  color: #333333;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: #2563eb;
  outline: none;
  box-shadow: 0 0 0 1px #2563eb;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex; /* Ajoutez cette ligne */
  align-items: center; /* Ajoutez cette ligne */
  justify-content: center; /* Ajoutez cette ligne */
  height: 100%; /* Ajoutez cette ligne pour occuper la hauteur du parent */
  margin-top: 14px;
}


.forgot-password {
  text-align: right;
  margin-bottom: 1rem;
}

.forgot-password a {
  color: #2563eb;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.submit-button {
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.375rem;
  background-color: #2563eb;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button:disabled {
  background-color: #bcd7ff;
  cursor: not-allowed;
}

.submit-button:hover:not(:disabled) {
  background-color: #1d4ed8;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #2563eb;
}
