.updatee-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.updatee-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.updatee-form h2 {
    text-align: center; /* Centre le texte horizontalement */
    margin-top: 0;      /* Réinitialise la marge supérieure */
    margin-bottom: 16px; /* Ajustez la marge inférieure selon vos besoins */
}

.form-grid {
    display: grid;
    gap: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: flex;
    flex-direction: column;
}

.form-group input {
    margin-top: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.shift-section {
    margin-top: 20px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Smaller shadow */
}


.btn-secondary:hover {
    background-color: #5a6268;
}
