/* Navbar.css */

.navbar {
    position: fixed; /* Fixe la barre de navigation en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white; /* Couleur de fond blanche */
    padding: 1rem 2rem; /* Padding par défaut */
    color: #007bff; /* Couleur du texte bleue */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre portée */
    z-index: 1000; /* Pour que la navbar soit au-dessus des autres éléments */
    transition: padding 0.3s ease, box-shadow 0.3s ease; /* Transition pour padding et ombre */
}

.navbar.shrink {
    padding: 0.5rem 2rem; /* Padding réduit lorsque défilement */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Ombre réduite lorsque défilement */
}

.brand {
    display: flex;
    align-items: center;
    margin-left: 22px;
}

.brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.brand-logo {
    width: 130px; /* Ajustez la taille du logo */
    height: auto;
    margin-right: 10px; /* Espacement entre l'image et le texte */
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #044a94;
}

.user-info span {
    font-size: 1rem;
    margin-right: 10px; /* Espacement entre le texte et les icônes */
}

.logout-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: #1261b6; /* Couleur de l'icône */
    transition: color 0.3s ease;
    margin-right: 22px;
}

.logout-icon:hover {
    color: #e74c3c; /* Couleur au survol */
}
